.containerBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #75fbef45;
 }
.divBoardCard{
    text-align: center;
}
.divBoardCard img{
    position: relative;
    z-index: 1;
    margin-bottom: -10px;
}
.divBoardCard .card{
    position: relative;
    z-index: 0;
}
.buttonsDiv{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}