body {
    margin: 0;
    overflow: hidden;
    background:black;
    height: 100vh;
    cursor: pointer;
}

#garden {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url('/giftSanValentin/Imagenes/landscape-with-night-starry-sky-silhouette-tree-hill-milky-way-with-lonely-tree-falling-stars.jpg'); /* Cambia esto por la URL de tu imagen */
    background-size: cover; /* Hace que la imagen ocupe toda la pantalla */
    background-position: bottom; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    z-index: 0;
}

.butterfly {
    position: absolute;
    width: 60px;
    height: auto;
    pointer-events: none;
    transition: transform 2s linear, top 2s linear, left 2s linear;
}
/* Estilo para el texto */
#text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    text-align: center;
}
#text p{
   margin: 0;
   margin-bottom: 10px;
}
.textLow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-family: Poppins;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
    text-align: center;
    z-index: 3;
    display: block;
}
.btn{
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 24px;
}
@media (max-width: 760px) {
   #text{
    position: absolute;
    top: 15%;
    left: 50%;
    font-size: 1.5em;
    width: 70%;
    text-align: center;
   }
   .textLow{
    font-size: 1.2em;
    width: 100%;
   }
   .btn{    
    font-size: 16px;
}
}